html {
    font-family: Tahoma, Geneva, sans-serif;
}

table {
    width: 70%;
    max-width: 70%;
    margin-left: auto;
    margin-right: auto;
}

h1 {
    padding-top: 6%;
}

th {
    background-color: #54585d;
    border: 1px solid #54585d;
    color: white;
    padding: 10px;
    max-width: 300px;
}

tr:nth-child(even) {
    background-color: #54585d;
}

th:hover {
    background-color: #64686e;
}

td {
    padding: 10px 0px 10px 0px;
    color: #636363;
}

tr {
    background-color: #ffffff;
}

tr .highlight {
    background-color: #f9fafb;
}

input {
    margin-left: 9%;
}

.header {
    padding: 0px 0px 60px 0px;
    text-align: center;
    font-size: 20px;
    font-family: Arial, Geneva, sans-serif;
}

.navBar {
    list-style-type: none;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    overflow: hidden;
    background-color: #54585d;
}

.navBar li {
    float: left;
}

.navBar li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navBar li a:hover:not(.active) {
    background-color: #111;
}

.navBar .active {
    background-color: #4284f5;
    color: white;
    pointer-events: none;
}

.buttonDiv {
    padding-left: 10%;
    padding-bottom: 4%;
}

.tableDiv {
    padding-bottom: 100px;
}

.button {
    background-color: #4284f5;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.button a {
    color: white;
    text-decoration: none;
}